<!DOCTYPE html>
<html>
    <head>
        {% if page is defined %}
        <title>{pagetitle} – LINKS Wien</title>
        <meta name="description" content="{pagemetadescription}">
        {% endif %}
        <link rel="stylesheet" href="{{ getAssetUrl('themes/'~template~'/assets/css/links.css') }}" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ outputHeadDeclarations() }}
    </head>
    <body>
      {{ outputScripts('bodyOpen') }}
      <div data-section-wrapper="1" data-slot-container="1" class="container">
        <div class="logo">
          <img src="{{ getAssetUrl('themes/'~template~'/assets/links-small.png', null, null, true) }}" alt="LINKS">
        </div>

        {% block content %}{% endblock %}

        <div class="about">
          <p>LINKS Wien | Gaullachergasse 59/16 | 1160 Wien</p>
        </div>
        <div class="social">
          <a href="https://facebook.com/linkswien">
              <img src="{{ getAssetUrl('themes/'~template~'/assets/fa-social/facebook.png', null, null, true) }}" alt="Facebook">
          </a>
          <a href="https://instagram.com/linkswien">
              <img src="{{ getAssetUrl('themes/'~template~'/assets/fa-social/instagram.png', null, null, true) }}" alt="Instagram">
          </a>
          <a href="https://twitter.com/linkswien">
              <img src="{{ getAssetUrl('themes/'~template~'/assets/fa-social/twitter.png', null, null, true) }}" alt="Twitter">
          </a>
        </div>
      <div>
      {{ outputScripts('bodyClose') }}
    </body>
</html>
